###Conditional Statement
* if
* if-else
* if-elif-else

###Loops and Iterations
* for
* while

###Recursion
* Function calling iteself

###Break
* Stop iteration

###Continue
* Stop current iteration

###Pass
* Passing for non-executable condition

Python is an indentation-based language and hence it is required to have a proper indentation for all the statements under the contitional statement and a loop.

<h3>‚≠êif</h3>

In [ ]:
if True:
    print("Hello, World!") #carefully look at the shift of 4 whitespace

Hello, World!

In [ ]:
if False:
    print('Hello, World!')

In [ ]:
num = 2

if num > 0:
    print('It is possible to print')

It is possible to print

In [ ]:
if num >= 0 or num <= 3:
    print('It is possible to print')

It is possible to print

In [ ]:
if num >= 0 and num <= 3:
    print('It is possible to print')

It is possible to print

In [ ]:
if num >= 0 or num >= 4:
    print('It is possible to print')

It is possible to print

In [ ]:
if num >= 0 and num >= 4:
    print('It is not possible to print')

<h3>‚≠êif-else</h3>

In [ ]:
if False:
    print('False statement')
else:
    print('True statement')

True statement

In [ ]:
num = 5
if num > 6:
    print('greater than 6')
else:
    print('not greater than 6')

not greater than 6

In [ ]:
if num < 6:
    if num > 3:
        print('smaller than 6 but greater than 3')
    if num < 3:
        print('smaller than 6 but not than 3')
else:
    print('greater than 6')

smaller than 6 but greater than 3

In [ ]:
if num > 6:
  if num > 3:
    print('smaller than 6 but greater than 3')
  if num < 3:
    print('smaller than 6 but not than 3')
else:
  if num > 3:
    print('smaller than or equal to 6 but greater than 3')

smaller than or equal to 6 but greater than 3

<h3>‚≠êif-elif-else</h3>

In [ ]:
a = 60
b = 70
c = 80
d = 90
e = 95
num = 100

if num <= a:
    print(num,'is less than equal to',a)
elif num <= b:
    print(num,'is less than equal to',b)
elif num <= c:
    print(num,'is less than equal to',c)
elif num <= d:
    print(num,'is less than equal to',b)
else:
    print('What\'s going on...')

What's going on...

In [ ]:
a = 10
if a == 5:
    print('a is equal to',a)
elif a ==10:
    print('a is equal to',a)
else:
    print('I don\'t know')

a is equal to 10

<h3>‚≠êFor-loop</h3>

In [ ]:
for i in range(10): #üìårange() is built-in function starting from 0 to n-1
    print(i)
print('outside of loop')

0
1
2
3
4
5
6
7
8
9
outside of loop

In [ ]:
print(range(1,10))
print(list(range(10))) #a range object returned by range constructor is converted into a list
print(list(range(1,10)))

range(1, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(5):
    for j in range(5):
        print('i =',i,'j =',j)

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

In [ ]:
lis = [1,2,3,4,5,6,7,8,9,10]
sum = 0

for i in lis:
    sum += i
    print('Now the sum is',sum)

Now the sum is 1
Now the sum is 3
Now the sum is 6
Now the sum is 10
Now the sum is 15
Now the sum is 21
Now the sum is 28
Now the sum is 36
Now the sum is 45
Now the sum is 55

In [ ]:
for i in 'Hello, World!':
    print(i)

H
e
l
l
o
,

W
o
r
l
d
!

In [ ]:
for i in [1,2.3, '4',[12,34],(1,23,4),{1,23,4},{'1':'one'}]:
    print('Datatype of',i,'is',type(i))

Datatype of 1 is <class 'int'>
Datatype of 2.3 is <class 'float'>
Datatype of 4 is <class 'str'>
Datatype of [12, 34] is <class 'list'>
Datatype of (1, 23, 4) is <class 'tuple'>
Datatype of {1, 4, 23} is <class 'set'>
Datatype of {'1': 'one'} is <class 'dict'>

<h3>‚≠êWhile-loop</h3>
Executes until a condition is True

In [ ]:
n = 32
while n <= 37:
  print('Executed because value of n is',n,'which is <= 37')
  n += 1

Executed because value of n is 32 which is <= 37
Executed because value of n is 33 which is <= 37
Executed because value of n is 34 which is <= 37
Executed because value of n is 35 which is <= 37
Executed because value of n is 36 which is <= 37
Executed because value of n is 37 which is <= 37

In [ ]:
temp = True
i = 1
while temp:
    print('Hey, I\'m inside the while loop')
    if i == 5:
        temp = False
        print('Now, temp became False and I have to come out of while loop')
    i += 1

Hey, I'm inside the while loop
Hey, I'm inside the while loop
Hey, I'm inside the while loop
Hey, I'm inside the while loop
Hey, I'm inside the while loop
Now, temp became False and I have to come out of while loop

<h3>‚≠êRecursion</h3>
In recursion, a function calls itself.

In [ ]:
# Sum of numbers
def sum_temp(n):
  if n == 1: #base condition
    return 1
  return n + sum_temp(n-1) # 3 + 2 + 1 = 6
sum_temp(3)

6

In [ ]:
# Factorial
def fact(n):
  if n == 0:
    return 1
  return n*fact(n-1)
fact(3)

6

<h3>‚≠êBreak</h3>
    ...stopping iteration

In [ ]:
for i in range(10):
    print('The value of i is',i)
    if i == 5:
        print('Breaking because i is',5)
        break #No execution for 6,7,8,9

The value of i is 0
The value of i is 1
The value of i is 2
The value of i is 3
The value of i is 4
The value of i is 5
Breaking because i is 5

<h3>‚≠êContinue</h3>
...stopping current iteration

In [ ]:
for i in range(10):
    if i>5:
        continue
    else:
        print('still running')

still running
still running
still running
still running
still running
still running

<h3>‚≠êPass</h3>
Useful if we will write some code inside a block but not now

In [ ]:
for i in range(10):
    pass