In [ ]:
import pyodbc 
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = '000.000.000.000'
database = 'database_name' 
username = '' 
password = '' 
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

# for i in cursor.execute("SELECT * FROM Table_Name"): print(i)


for i in range(1,100):
    cursor.execute("INSERT INTO SERIAL_NUM(COUNT) VALUES(\'" + str(i) + '\');')
    cursor.commit()


# print(cursor.execute('select * from SERIAL_NUM').fetchall())
cnxn.close()

### Converting Number to Words

- Mysql odbc driver for version 8.0 -> https://dev.mysql.com/downloads/connector/odbc/

In [24]:
from num2words import num2words
import pyodbc 

server = 'localhost'
database = 'test' 
username = 'root' 
password = 'root' 
cnxn = pyodbc.connect('DRIVER={MySQL ODBC 8.0 ANSI Driver};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

for i in cursor.execute("SELECT * FROM product"): 
    print(i)
    print(num2words(i[3]))
    
cnxn.close()

('1001', 'book', 10, 400, 5)
four hundred
('1001', 'book', 10, 400, 5)
four hundred
('1111', 'KUCH BHI', 50, 49, 5)
forty-nine

In [23]:
def number_to_words(num):
    ans = num2words(num)
    try:
        idx = ans.index('point')
    except ValueError:
        idx = 0
    if idx:
        ans = ans[:idx] + 'Rupees ' + ans[idx:]
        ans = ans.replace('point','and')
        ans += ' Paise'
    else:
        ans += ' Rupees'
    return ans

num = 3.3
print(num,number_to_words(num))

num = 3.0
print(num,number_to_words(num))

3.3 three Rupees and three Paise
3.0 three Rupees

In [26]:
number_to_words(232432423.343)

'two hundred and thirty-two million, four hundred and thirty-two thousand, four hundred and twenty-three Rupees and three four three Paise'